.songs-list{
    display: flex;
    flex-direction: row;
    width:100%;
    
}

.songs-list ul{
    width: 100%;
    list-style-type: decimal;  
    list-style-position: inside;  
    margin: 0;
    padding: 0;
}

.songs-list li {
    width: 100%;  
    display: block; 
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  /* Includes padding in width if any padding is needed */
}
