.song-line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
    padding: 10px; 
    box-sizing: border-box; /* Ensures padding is included in width */
    border-radius: 10px;
    
}

.song-line-container:hover{
    background-color: hsl(0, 11%, 20%);
}


.song-line-container:hover .addToPlaylist-button {
    display: flex; 
}


.song-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space is distributed between children */
    width: 100%;
    
}



.index-play-container {
    width: 40px;  
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.song-index, .song-info button {
    color: white;
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;  
    border: none;

}


.song-title-and-artist-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.song-artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.song-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.right-controls {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;
    color: hsl(0, 0%, 70%);
}


.song-info p, .right-controls p {
    margin: 0 10px;
}

.right-controls p{
    min-width: 60px;
    text-align: center;
}



.add-to-playlist-button {
    color: hsl(0, 0%, 70%);
    background: none;
    cursor: pointer;
}

.add-to-playlist-button:hover {
    color: hsl(141, 73%, 42%);
    transform: scale(1.1);  /* Makes the button 10% larger */
}



.song-artist{
    font-size: 12px ;
    color: hsl(0, 0%, 60%);
}

