.song-line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex:1;
    
}

.song-line-container:hover .addToPlaylist-button {
    display: flex; 
}


.song-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.song-info button{
    color: white;
    background: none;  
    border: none;
    padding: 5px;  
    
}

.song-info > div:first-child {
    flex-grow: 1;  /* Allows this div to take up available space */
    display: flex;
    flex-direction: column;  /* Stacks the children vertically */
    justify-content: center; /* Centers the content vertically */
    align-items: flex-start;  /* Aligns items to the start of the flex container (left side) */
}


.song-artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.song-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.right-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}


.song-info p, .right-controls p {
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.addToPlaylist-button {
    color: white;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 24px;
    display: none;
}

.addToPlaylist-button:hover {
    color: hsl(141, 73%, 42%);
    transform: scale(1.1);  /* Makes the button 10% larger */
}

.play-button {
    margin-right: 10px;  /* Adds some space between the play button and the song info */
    background: none;
    border: none;
    color: white;  /* Adjust color as needed */
    cursor: pointer;
    font-size: 24px;  /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}


.song-artist{
    font-size: 12px ;
}

