.album-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.song-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Spread the header elements */
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    color: hsl(0, 0%, 70%);
}

.header-index, .header-title {
    display: flex;
    align-items: center;
}

.header-index {
    width: 40px; /* Matches the width of the song index container */
    text-align: center;
    margin-left: 25px;
}

.header-title {
    flex-grow: 1; /* Ensures the title takes up the remaining space */
    
}

.header-clock-icon {
    margin-left: auto;
    margin-right: 43px;
    font-size: 20px;
}

hr {
    width: 100%;
    border-color:  hsl(0, 0%, 70%);
    transform: scaleY(0.2); 

}

.play-album{
    display: flex;
    width: 100%;
}

.artist-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copyright-container {
    text-align: left;      /* Align text inside container to the left */
    color: hsl(0, 0%, 50%);           /* Darker font color (you can choose a darker shade if needed) */
    font-size: 14px;       /* Adjust the font size if necessary */
    padding: 10px 0;       /* Optional: Add some padding */
    margin-left: 10px;        /* Ensure no margin pushes the container to the right */
    line-height: 0.5; 
  }

