.music-player-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 12%;
    text-align: center;
    background-color: black;

    left: 0;
}

.player-song-info{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    
}

.music-player-container img{
    width: 10%;
    border-radius: 20%;
    object-fit: fill;
    margin-right: 10px;
    margin-left: 10px;
}

.player-song-info-written{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-song-info-written p{
    margin: 0;
    cursor: pointer;
}

.player-song-info-written p :hover{
    text-decoration: underline;
}


.music-main-controls{
    flex: 1;
    flex-direction: column;
}

.music-main-controls-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.player-play-pause-button{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
}

.player-fast-forward{
    background: none;
    color: hsl(0, 0%, 70%);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-music-add-controls{
    display: flex;
    flex:1;
    border: solid red 2px;
}

.music-slider-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}
.music-slider-container p{
    margin: 5px;
    width: 50px;

}