.song-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
}

.song-content {
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  text-align: left;
}

.song-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.song-content p {
  font-size: 1.2em;
  line-height: 1.5;
  white-space: pre-wrap; /* Preserves line breaks in song lyrics */
}
