.album-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: hsl(0, 11%, 12%);
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}

.album-header h1 {
    font-size: 6em;
    margin: 0;
}

.album-header p {
    font-size: 1.3em;
    margin: 0;
}

.album-cover{
    width: 20%;
    min-width: 200px;
    max-width: 300px;  
    height: auto;  
    margin: 2em;
    border-radius: 10px;
    transition: transform 0.3s ease, cursor 0.3s ease;
}

.album-cover:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.album-info-additional {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    width: 100%;
    padding: 5px;
}

.artist-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 5px;
}

.artist-name:hover {
    text-decoration: underline;
    cursor: pointer;
}
