body{
  background-color: hsl(0, 11%, 9%);
  color: white;
  font-family: Montserrat;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
}

.search-bar-container{
  z-index: 9999;
}

.main-window {
  padding-bottom: 100px;
  padding-top: 65px;
  width: 100%;
  height: 100%;
  margin:0;
  background-color: #1a1a1a;
  min-height: 100vh;
}

.spotify-clone{
  display: flex;
  flex-direction: column;
}




