body{
  background-color: hsl(0, 11%, 9%);
  color: white;
  font-family: Montserrat;
}

.link-no-style {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent element */
}

.main_window {
  padding-bottom: 80px;
}




