body{
  background-color: hsl(0, 11%, 9%);
  color: white;
  font-family: Montserrat;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
}

.main-window {
  padding-bottom: 100px;
  width: 100%;
  margin:0;
}






