.audio-player-container {
    min-height: 8px;
    background-color: #2e2d2d;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10px;
    color: white;
  }
  
  @media (min-width: 1024px) { /* Assuming lg breakpoint at 1024px */
    .audio-player-container {
      flex-direction: row;
    }
  }
  
  .controls-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin: auto;
    flex: 1;
  }
  
  .volume-and-menu {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #ccc; /* For text-gray-400 */
  }
  
 

  